body .mynavbar {
  background-color: #3b2959;
}
body .mynavbar .container a {
  color: #e3d5f7;
}
body .mynavbar .container .collapse ul li a {
  color: #e3d5f7;
}
body .mynavbar .container .collapse .mynavform .mysearch {
  background-color: transparent;
  padding-left: 0;
}
body .container .mymodal {
  width: 100%;
  position: relative;
}
body .container .mymodal .mymodaldialog {
  margin-left: 10px;
  margin-right: 10px;
  max-width: 100%;
}
body .container .mymodal .mymodaldialog .modal-content {
  box-shadow: 1px 1px 9px gray;
}
body .container .mymodal .mymodaldialog .modal-content .mymodalheader {
  padding-bottom: 0;
}
body .container .mymodal .mymodaldialog .modal-content .mymodalheader h5 {
  margin-top: 50px;
  font-weight: lighter;
  font-size: 28px;
}
body .container .mymodal .mymodaldialog .modal-content .mymodalheader p {
  margin-top: 20px;
  margin-bottom: 0;
}
body .container .myhr span {
  margin-top: 10px;
  width: 90%;
}
body .container .mymodalbody {
  padding-top: 0;
  font-size: 13px;
}
body .container .mymodalfooter {
  margin: auto;
  margin-bottom: 45px;
}
body .container .mymodalfooter .downloadbutton {
  border: 2px solid #890e4f;
  color: #890e4f;
  font-size: 13px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
}
body .container .mymodalfooter .learnbutton {
  background-color: #890e4f;
  font-size: 13px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
}
body .container .myrow .col-lg-4 {
  margin-top: 20px;
}
body .container .myrow .col-lg-4 .card {
  box-shadow: 1px 1px 9px #d4d1d1;
}
body .container .myrow .col-lg-4 .card img {
  height: 237px;
}
body .container .myrow .col-lg-4 .card .card-body .mycardbutton {
  margin-left: 5px;
  background-color: #35b5e6;
  padding-top: 10px;
  padding-right: 35px;
  padding-bottom: 10px;
  padding-left: 35px;
}
body footer {
  margin-top: 100px;
  background-color: #3b2959;
}
body footer .mycontainer .row .col-3 {
  color: white;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

@media screen and (min-width: 992px) {
  .container {
    width: 1020px;
  }

  .mycontainer {
    width: 1300px;
    margin: auto;
    max-width: 100%;
  }
}
@media screen and (max-width: 992px) {
  body .mynavbar {
    display: block;
    text-align: center;
  }
  body .mynavbar .container {
    max-width: 100%;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  body .mynavbar .container a {
    margin: auto;
  }
  body .mynavbar .container .mytoggler {
    display: none;
  }
  body .mynavbar .container .mycollapse {
    display: none;
  }
  body .container .myrow {
    display: block;
  }
  body .container .myrow .mycol4 {
    margin: auto;
    margin-top: 20px;
    width: 55%;
  }
  body .container .myrow .mycol4 .card a {
    display: block;
    margin: auto;
  }
  body footer .row {
    --bs-gutter-x: 0;
  }
}
@media screen and (max-width: 460px) {
  body .container .myrow {
    display: block;
  }
  body .container .myrow .mycol4 {
    margin: auto;
    margin-top: 20px;
    width: 87%;
  }
}
@media screen and (max-width: 398px) {
  body .container .mymodal .mymodaldialog .modal-content .mymodalfooter {
    display: block;
  }
  body .container .mymodal .mymodaldialog .modal-content .mymodalfooter .btn {
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=bsstyle.css.map */
