body {
    background-color: #c3a9ff;
}


h1 {
    padding-top: 30px;
    color: #eaf6de;
}

h6 {
    color: #eaf6de;
}

#myInput {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #013870;
    border-radius: 0;
    font-size: 18px;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: black;
    outline: 0;
    box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%);
}
.my-row {
    margin-top: 21px;
    --bs-gutter-x: 0;
    background-color: #02244a;
    border-radius: 5px;
}

.my-row .col-lg-8 {
    padding: 15px 0 15px 20px;
    font-family: sans-serif;
    font-size: 20px;
    color: #eaf6de;
}

.icons {
    display: flex;
    justify-content: end;
    align-items: center;
}

.icons i:first-child {
    margin-right: 15px;
    color: green;
}

.icons i:last-child {
    color: red;
    margin-right: 30px;
}

.bi {
    background-color: #95ffff;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}