body {
    margin-top: 0;
}
.ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    animation-name: move;
    animation-duration: 30s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

