body {
    font-family: sans-serif;
}
.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid hsl(6deg 78% 57%);
    margin: auto;
    cursor: default;
    color: thistle;
    position: relative;
}
.ball i {
    position: absolute;
    z-index: 999;
}
.cont {
    display: none;
    text-align: center;
}
.small-p {
    text-align: center;
    color: thistle;
}
.act-p {
    color: hsl(6deg 78% 57%);
}
.act-cont {
    display: block;
}
.act-ball {
    background-color: hsl(6deg 78% 57%);
    color: white;
    font-weight: bolder;
}
.ball-row {
  padding-top: 200px;
}
.my-row {
    display: flex;
    justify-content: space-between;
}
.next {
    margin-left: auto;
}
.d-none {
    display: none;
}
.btn-show-info {
    background-color: rgb(59, 59, 175);
    border-radius: 6px;
    display: inline-block;
    margin: auto;
    padding: 6px 15px;
    color: white;
    margin-top: 10px;
}
.move-btn {
    display: inline-block;
    border: 0;
    border-radius: 8px;
    padding: 5px 50px;
    background-color: hsl(6deg 78% 57%);
    color: white;
    margin-top: 20px;
}
.search-input {
    width: 100%;
    border-radius: 30px;
    border: 2px solid rgb(169, 169, 247);
    padding: 10px 0 10px 20px;
}
#cont3 {
    margin-top: 22px;
}
.line {
    position: absolute;
    height: 3px;
    background-color: hsl(6deg 78% 57%);
    top: 224px;
    left: 0;
}
.diametr {
    position: absolute;
    width: 46px;
    height: 3px;
    background-color: white;
    z-index: 1;
}
.act-ball .diametr {
    background-color: hsl(6deg 78% 57%);
}